@font-face {
    font-family: 'ROBOTO';
    font-style: normal;
    src: url('./assets/fonts/Roboto-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'ROBOTO';
    font-weight: bold;
    src: url('/assets/fonts/Roboto-Bold.ttf') format('truetype')
}

@font-face {
    font-family: 'ROBOTO';
    font-style: italic;
    src: url('/assets/fonts/Roboto-Italic.ttf') format('truetype')
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url("/assets/fonts/roboto.woff2") format("woff2");
}

html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: 'ROBOTO', sans-serif;
    margin: 0;
    background-color: #fafafa;
}

.material-icons {
    font-family: 'Material Icons', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.app-container {
    height: 100vh;
    padding: 24px;
    overflow: auto;
    flex-grow: 1;
}

.noTextDecoration {
    text-decoration: none !important;
}
